<p>Sections</p>
{{#link-to "page" 'v'}}Preface{{/link-to}}
{{#link-to "page" 'xiii'}}Abbr{{/link-to}}
{{#link-to "page" '1'}}Hebrew{{/link-to}}
{{#link-to "page" '1078'}}Aramaic{{/link-to}}
{{#link-to "page" '1119'}}Errata{{/link-to}}
{{yield}}