<span>{{#link-to "page" model.prev}}Prev{{/link-to}}</span>
<span><form>{{input value=gotopage}}{{#link-to 'page' gotopage tagName='button' }}Go{{/link-to}}</form></span>
<span>{{#link-to "page" model.next}}Next{{/link-to}}</span>    