<span>{{#link-to "page" prev}}Prev{{/link-to}}</span>
<span><form>{{input value=page_id}}{{#link-to 'page' page_id tagName='button' }}Go{{/link-to}}</form></span>
<span>{{#link-to "page" next}}Next{{/link-to}}</span>    