* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Linux Libertine O', 'Times New Roman', Serif;
}

body>div {
  height: 100%;
}

.page {
  height: 100%;
  overflow: auto;
}

.page-img img {
  width: 200%;
}

.wrapper {
  height: 100%;
}

.toolbar {
  background-color: white;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #ddd;
  padding: 0.25rem;
  box-shadow: #222 0px -5px 10px 0px;
}

.toolbar a {
  color: #555;
  text-decoration: none;
}

.toolbar span {
  color: #555;
  text-align: center;
  padding: 0 1rem;
  font-size: 1.5rem;
}

.toolbar span:first-of-type {
  border-right: solid 1px #ddd;
}

.toolbar span:last-of-type {
  border-left: solid 1px #ddd;
}

.section-nav {
  position:relative;
  background-color: green;
  box-shadow: 0px 12px 12px -15px #111;
  display: block;
  top:2.5rem;
}

.sections {
  margin: 0;
  padding: 0 0.25rem;
  background-color: white;
  display: none;
  border-bottom: solid 1px #ddd;
}

.section-nav .active {
  display: block !important;
}

.sections li {
  list-style: none;
  text-align: center;
  padding: 0.35rem 0;
  border-bottom: solid 1px #ddd;
}

.sections li:last-of-type {
  border: none;
}

.sections li a {
  color: #555;
  text-decoration: none;
  display: block;
}

.sections li>.active::before {
  content: '» ';
}

.sections li>.active::after {
  content: ' «';
}

.sections li a:hover {
  text-decoration: underline;
  /* background-color: #999; */
}

.alphabet {
  margin: 0;
  padding: 0 0.25rem;
  background-color: white;
  /* display: none; */
  border-bottom: solid 1px #ddd;
}

.page {
  padding-top: 2rem;
}

.page-nav {
  box-shadow: #222 0px 5px 10px 0px;
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  border-top: solid 1px #ddd;
}

.page-nav a {
  color: #333;
  padding: 0.25rem;
}

.page-nav span {
  text-align: center;
  padding: 0.25rem;
}

.page-nav span:first-of-type {
  border-right: solid 1px #ddd;
}

.page-nav span:first-of-type::before {
  content: '« ';
}

.page-nav span:last-of-type::after {
  content: ' »';
}

.page-nav span:last-of-type {
  border-left: solid 1px #ddd;
}

.page-nav form {
  display: flex;
  justify-content: center;
}

.page-nav input {
  width: 40%;
  text-align: center;
  margin: 0 0.15rem;
  border-radius: 2px;
  border: solid 1px #aaa;
}

.page-nav button {
  background-color: #eee;
  border: solid 1px #aaa;
  border-radius: 2px;
  width: 30%;
  margin: 0 0.15rem;
}
