* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Linux Libertine O', 'Times New Roman', Serif;
  max-width: 975px;
}

body>div {
  height: 100%;
}

.wrapper {
	display: grid;
	grid-template-rows: 5rem auto 5rem;
	grid-template-columns: 1fr;
	height: 100vh;
}

.toolbar {
  max-width: 975px;
  background-color: white;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #ddd;
  padding: 0.25rem;
  box-shadow: #222 -5px -5px 10px 0px;
  z-index: 9999;
}

.toolbar a {
  color: #555;
  text-decoration: none;
}

.toolbar span {
  cursor: pointer;
  color: #555;
  text-align: center;
  padding: 0 1rem;
  font-size: 1.5rem;
}

.toolbar span:first-of-type {
  border-right: solid 1px #ddd;
}

.toolbar span:last-of-type {
  border-left: solid 1px #ddd;
}

.page-img img {
  max-width: 975px;
  width: 200%;
  border: solid 1px #ddd;
}

.title .page-img img { width: 100%; max-width: 975px;}

.page {
  margin-top: 2.25rem;
  height: calc(100vh - 4.4rem);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.page-nav {
  max-width: 975px;
  box-shadow: #222 -5px 5px 10px 0px;
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  border-top: solid 1px #ddd;
}

.page-nav a {
  color: #333;
  padding: 0.25rem;
}

.page-nav span {
  text-align: center;
  padding: 0.25rem;
}

.page-nav span:first-of-type {
  border-right: solid 1px #ddd;
}

.page-nav span:first-of-type::before {
  content: '« ';
}

.page-nav span:last-of-type::after {
  content: ' »';
}

.page-nav span:last-of-type {
  border-left: solid 1px #ddd;
}

.page-nav form {
  display: flex;
  justify-content: center;
}

.page-nav input {
  width: 40%;
  text-align: center;
  margin: 0 0.15rem;
  border-radius: 2px;
  border: solid 1px #aaa;
}

.page-nav button {
  background-color: #eee;
  border: solid 1px #aaa;
  border-radius: 2px;
  width: 30%;
  margin: 0 0.15rem;
}

.section-nav {
  position: absolute;
  width: 100%;
  max-width: 975px;
  background-color: green;
  box-shadow: 0px 12px 12px -15px #111;
  display: block;
  top: 2.25rem;
}

.sections {
  margin: 0;
  padding: 0 0.25rem;
  background-color: white;
  border-bottom: solid 1px #ddd;
  display: none;
}

.section-nav .active {
  display: block !important;
}

.sections li {
  list-style: none;
  text-align: center;
  padding: 0.35rem 0;
  border-bottom: solid 1px #ddd;
}

.sections li:last-of-type {
  border: none;
}

.sections li a {
  color: #555;
  text-decoration: none;
  display: block;
}

.sections li>.active-section::before {
  content: '» ';
}

.sections li>.active-section::after {
  content: ' «';
}

.sections li a:hover {
  text-decoration: underline;
  /* background-color: #999; */
}

.alphabet {
  position: absolute;
  background-color: white;
  z-index: 0;
  border: solid 1px #ddd;
  border-left: none;
  border-radius: 0 0.25rem 0.25rem 0;
  top: 2.75rem;
  bottom: 2.75rem;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  font-size: 1.5rem;
  box-shadow: 02px 0px 10px -5px #111;
  display: flex;
  grid-template: auto auto;
}

.alphabet ul {
  height: 100%;
  border-radius: none;
  margin: 0;
  padding: 0.1rem;
  list-style: none;
  overflow: auto;
  border-left: solid 1px #ddd;
}

.alphabet .active {
  display: block;
}

.letters,
.roots {
  display: none;
}

.letters li {
  cursor: pointer;
  margin: 0;
  color: #444;
  padding: 0.25rem 0.75rem;
  text-align: center;
  border-bottom: solid 1px #ddd;
}

.letters li:last-of-type {
  border-bottom: none;
}

.roots {
  border-radius: none;
  margin: 0;
  padding: 0.1rem;
  min-width: 6rem;
  list-style: none;
  background-color: #eee;
}

.roots li {
  margin: 0;
  text-align: right;
  padding: 0.25rem 0.75rem;
  text-align: center;
  border-bottom: solid 1px #ddd;
}

.roots li a {
  text-decoration: none;
  color: #444;
}

.roots li:last-of-type {
  border-bottom: none;
}

.roots .current {
  text-decoration: underline;
}