* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body>div {
  height: 100%;
}

.page {
  background-color: aquamarine;
  height: 100%;
  overflow: auto;
}

.page-img img {
  width: 200%;
}

.wrapper {
  height: 100%;
}

.section-nav {
  background-color: #c5c5c5;
  text-align: center;
}

.sections {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
}

.hidden {
  display: none !important;
}

.sections li {
  list-style: none;
  text-align: center;
  padding: 0.25rem;
}

.sections li a {
  color: #333;
  text-decoration: none;
}

.page-nav {
  box-shadow: #222 0px 3px 10px;
  background-color: #c5c5c5;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  border-top: solid 1px #aaa;
}

.page-nav span {
  text-align: center;
  padding: 0.5rem;
}

.page-nav a {
  align-self: center;
  color: #333;
  text-decoration: none;
  padding: 0.25rem;
}

.page-nav span:first-of-type {
  border-right: solid 1px #aaa;
}

.page-nav span:first-of-type::before {
  content: '« ';
}

.page-nav span:last-of-type::after {
  content: ' »';
}

.page-nav span:last-of-type {
  border-left: solid 1px #999;
}

.page-nav input {
  width: 60%
}

.page-nav button {
  width: 30%
}
