<div id="page" class="page">
    {{page-navigation
        page_id=(readonly model.id)
        next=model.next
        prev=model.prev
    }}

    {{page-image model=model}}
    
    {{!-- {{outlet}} --}}
</div>    {{!-- {{nav-index section=model.section currentRoot=root}} --}}
