.section-nav_li {
    padding:0;
    margin:0;
}

.section-nav_li a {
    background: #1d253b;
    color:white;
    display: block;
    text-align: center;
    border-bottom: dotted 1px grey;
    padding:0.25rem 0
}

.section-nav_li a {
    color:white;
    display: block;
    text-align: center;
    text-decoration: none;
}
.section-nav_li a:hover {
    text-decoration: underline;
}

.section-nav_li .current::before {
    content: '» ';
}
.section-nav_li .current::after {
    content: ' «';
}